#bodyColor {
    background: #a1d6ff;
    width: 100%;
}
body {
    overflow: hidden;
}
.bike {
    position: relative;
    width: 25%;
    top: 200px;
    animation: bicycleMove 8s infinite linear;
}
img {
    width: 100%;
}
.wheel {
    position: absolute;
    width: 200px;
    animation: wheel 4s infinite linear;
}
.wheel:nth-child(2) {
    top: 110px;
    left: -75px
}
.wheel:nth-child(3) {
    top: 110px;
    left: 250px
}
@keyframes wheel {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes bicycleMove {
    from {
        left: -20vw;
    }
    to {
        left: 160vw;
    }
}
.happyBday {
    position: absolute;
    left: -750px;
    top: 100px
}
.happyBdayLine {
    position: absolute;
    left: -250px;
    top: 40px
}
.cloudOne {
    position: absolute;
    width: 33%;
    right: 400px;
    top: -60px;
    animation: cloudOne 8s infinite linear;
}
.cloudTwo {
    position: absolute;
    width: 33%;
    right: 200px;
    top: 420px;
    animation: cloudOne 8s infinite linear;
}
@keyframes cloudOne {
    from {
        left: 160vw;
    }
    to {
        left: -40vw;
    }
}
@keyframes cloudTwo {
    from {
        left: 160vw;
    }
    to {
        left: -40vw;
    }
}